<div class="container p-3 my-3 border">
    <div class="card">
        <div class="card-header">Products List</div>
        <!--
        <div class="card-body">
            <button type="button" class="btn btn-primary" (click)="onGetProducts()">Products</button>
        </div>
        -->
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
                <div class="form-group">
                    <label class="label-space">Keyword : </label>
                    <input class="input-space" type="text" name="keyword" ngModel>
                    <span class="input-space">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </span>
                </div>
            </form>
            <table *ngIf="products" class="table table-striped">
                <tr>
                    <th>ID</th><th>Designation</th><th>Price</th><th>Quantity</th><th>Action</th>
                </tr>
                <tr *ngFor="let p of products._embedded.products">
                    <td>{{p.id}}</td>
                    <td>{{p.designation}}</td>
                    <td>{{p.price|number:'0.2'}}</td>
                    <td>{{p.quantity}}</td>
                    <td>
                        <div class="container">
                            <button type="button" class="btn btn-warning" (click)="onEditProduct(p)">Edit</button>
                            <button type="button" class="btn btn-danger" (click)="onDeleteProduct(p)" style="margin-left:4px;">Delete</button>
                        </div>
                    </td>
                </tr>
            </table>           
            <ul class="nav nav-pills" *ngIf="pages">
                <li class="nav-item"   [ngClass]="i==currentPage?'active':''" *ngFor="let p of pages; let i=index"> <!--class="clickable"-->
                    <a class="nav-link" data-toggle="pill" (click)="onPageProduct(i)">{{i}}</a>
                </li>
            </ul>           
        </div>
    </div>
</div>

